*.log
*.app
*.aps
*.autopilot_exit
*.xml
dsp_style
.lst_opt.tcl
*.exe
*.mk
*.rules
*.sh
*.dir
*.d
*.o
*.gch
*.directive
*.gch
*.g
*.bc
*.yml
*.json
*.ll
*.tmp
*.adb
*.rpt
*.hcp
*.cfg
*.tcl
passwd_stream_proj/solution1/.autopilot/db/apatb_passwd_stream_top_util.cpp
passwd_stream_proj/solution1/.autopilot/db/apatb_passwd_stream_top.cpp
*.ap_header.txt
*.vhd
*.dat
*.v
*.autopilot
*.xo
*.link_summary
*.pb3
*.spr
*.rtd
*.ini
*.xdc
ReleaseNotes.txt
*.vh
*.protoinst
*.rst
htr.txt
*.hpfm
*.png
*.html
*.xpr
*.jou
*.zip
*.wpc
*.lpr
*.xci
*.status
*_util.cpp
*cpu_sources
*solution1
