[connectivity]
nk=aie_stream_top:1:aie_stream_top_1

# whole ABC stack on the array: 8 PLIOs
stream_connect=aie_stream_top_1.embed_j_out:ai_engine_0.embed_jets_in
stream_connect=aie_stream_top_1.mask_out:ai_engine_0.mask_in
stream_connect=aie_stream_top_1.obj0_w0_out:ai_engine_0.obj_wij_h0_L0
stream_connect=aie_stream_top_1.obj0_w1_out:ai_engine_0.obj_wij_h1_L0
stream_connect=aie_stream_top_1.obj0_w2_out:ai_engine_0.obj_wij_h2_L0
stream_connect=aie_stream_top_1.obj0_w3_out:ai_engine_0.obj_wij_h3_L0
stream_connect=ai_engine_0.chain_x_out:aie_stream_top_1.x_in
stream_connect=ai_engine_0.chain_c_out:aie_stream_top_1.c_in

[connectivity]
sp=aie_stream_top_1.in_buf:DDR
sp=aie_stream_top_1.out_buf:DDR
